# Server Port
PORT=5000

# MongoDB URI (Replace with your own connection string)
# Local Example: mongodb://localhost:27017/ems_db
# Cloud Atlas Example: mongodb://localhost:27017/ems_db
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/ems_db?retryWrites=true&w=majority
